{% extends "layout.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}

<p style="font-size:12pt; margin-top: 5%; padding:5pt 10pt 5pt 10pt; margin: auto;"> <b style="background-color:#ffd77c;padding:1pt 5pt 1pt 5pt;">Person X</b>and <b style="background-color:#ffd77c;padding:1pt 5pt 1pt 5pt;">Person Y</b> were/are/will be married</p>
<p>{{candidate|safe}}</p>

{% from "_formhelpers.html" import render_field %}
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
<div id="loading"></div>
<div id="content">
<!-- 	<form method=post style="text-align: center; margin-top: 5%">
	  <dl>
	  	{{ form.csrf_token }}
	  	{% for subfield in form.label %}
	  	<tr>
	  		<td>{{ subfield }}</td>
	  		<td>{{ subfield.label }}</td>
	  	</tr>
	  	{% endfor %}
	  	<br/>
	  	<div class="form-group {% if form.explanation.errors %} has-error {% endif %}">
	    	{{ form.explanation(cols="50", rows="2", placeholder="Tell us why you chose this label", class="form-control") }}
         <p class="col-sm-5 help-block">
            {{ form.explanation.errors[0] }}
		</div>
	  </dl>
     <br/>
	  <p><input class="btn btn-success" type=submit value=Go onclick="loading();">
      {{ form.skip }}
	</form> -->
   {{ form.csrf_token }}
   {{ wtf.quick_form(form) }}

<!-- iterate over the parse_list indices, then display the parse, the confusion matrix and the statistics -->
<!-- {% if parse_list is defined %}
   {% for i in range(parse_list| length)%}
   <p>{{ parse_list[i] }}</p>
      <div class="container">
         <table class="table table-fixed">
            <thead>
             <th> Correct {{conf_matrix[i].correct|length}} </th>
            </thead>
            <tbody>
            {% for spouse in conf_matrix[i].correct %}
               <tr>
                    <td> {{ spouse[0].sentence.text }} </td>
               </tr>
            {% endfor %}
            </tbody>
         </table>

         <table class="table table-fixed">
            <thead>
             <th> Incorrect {{conf_matrix[i].incorrect|length}} </th>
            </thead>
            <tbody>
            {% for spouse in conf_matrix[i].incorrect %}
               <tr>
                    <td> {{ spouse[0].sentence.text }} </td>
               </tr>
            {% endfor %}
            </tbody>
         </table>
      </div>
   {% endfor %}
{% endif %} -->

{% if no_parses_msg is defined %}
	Explanantion generated no new parses.
{% endif %}
{% endblock %}
</div>