{% extends "layout.html" %}
{% block content %}

          <!-- Modal -->
      <div id="trainModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Train Model</h4>
            </div>
            <div class="modal-body">
          <p> This demonstration focuses on the stage of the pipeline requiring human input. The remaining steps are automatic, but do require some time. In a real-world setting, the following steps would be performed:</p>

          <p>1) Apply labeling functions: The functions based on your explanations are used to generate weak labels for a large unlabeled training set of examples. </p>

          <p>2) Aggregate labels: The potentially overlapping and/or conflicting labels from multiple labeling functions are aggregated into probabilistic labels (between 0 and 1) for each example using a simple strategy such as majority vote or a more advanced strategy like data programming.</p>

          <p>3) Train a classifier: The probabilistically labeled training set is used to train a discriminative classifier (such as a neural network) that is capable of generalizing beyond the explanations that you gave.</p>

          <p>Then all that’s left is to deploy your trained classifier on your problem of interest!</p>
          </div>
          <div class="modal-footer">
            <small class="text-muted">This demo was built by Stephanie Wang and Braden Hancock</small>
          </div>
        </div>

      </div>
    </div>

          <!-- Modal -->
      <div id="labelModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Evaluation Metrics</h4>
            </div>
            <div class="modal-body">
              {{ metrics.lf_stats| safe }}
          </div>
          <div class="modal-footer">
          </div>
        </div>

      </div>
    </div>
          <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Welcome to Babble Labble</h4>
            </div>
            <div class="modal-body">
              <p>In this demo, you will be writing <em>weak supervision</em> rules for generating training data. 
                These rules can be used to generated massive amounts of training data for training your favorite deep learning model.</p>
              <p>You will be shown a sentence with two entities highlighted (call them X and Y).
                You are teaching a system to classify whether or not "X and Y were/are/will be married."
              </p>
              <ol type="1">
                <li>First, write an explanation stating why the given example should 
                    be classified a certain way.</li>
                <li>Then click the green check (<font color="green">True</font>) 
                    or red X (<font color="red">False</font>) to submit your 
                    explanation with the given label.</li>
                <li>If you are happy with the quality of your explanation (ideally
                    Accuracy > 60% and Coverage > 1%), press "Commit" at the bottom
                    of the page.</li>
                <li>Otherwise, modify your explanation or push the 
                    (<font color="DarkGray">Skip</font>) button to move on to the next
                    example.</li>
              </ol>
              <img style="width: 100%; height: auto;"src="{{ url_for('static', filename='explanation2.gif') }}">
              <p>For best results:</p>
              <ul>
                <li>Start your explanation with the word "because" and refer to the people as "<mark>X</mark>" and "<mark>Y</mark>"</li>
                <li>Put words that you are quoting from in the text in double quotes</li>
                <li>Base your explanations on words in the sentence using properties 
                  such as spelling, capitalization, keywords and distances between words.
                  You may also assume the system recognizes which words are persons, 
                  locations, or organizations.</li>
              </ul>
              <p>See the <a href="https://www.youtube.com/watch?v=7I1mCEjXL4I&t=20s">demonstration video</a> for guidance on how to get started.</p>
              <p>We'll provide suggested explanations for the first few examples to get you started!</p>
          </div>
          <div class="modal-footer">
            <small class="text-muted">This demo was built by Stephanie Wang and Braden Hancock</small>
          </div>
        </div>

      </div>
    </div>
      <div id="left"> <h1 style="color: #ffffff; text-align: center"> Babble Labble </h1>
        <!-- Trigger the modal with a button -->
      <div class="information" id="left-metrics" style="margin-top: 5%; margin-bottom: 5%">
        <button class="button button-plain button-borderless" data-toggle="modal" data-target="#myModal">Help</button>
        <div class="info-metrics" style="margin-top:5%; margin-bottom:5%">
          <h4>{{metrics.num_examples}} Explanation(s)</h4>
          <h4>{{metrics.num_labels_equiv}} Equivalent # Labels</h4>
          <h4>{{'%0.2f' % metrics.f1 | float}} Majority Vote F1</h4>
          <h4>{{'%0.2f' % metrics.coverage | float}}% Coverage</h4>
        </div>
        <button style="text-align: center;" class="button button-rounded" data-toggle="modal" data-target="#labelModal">Prev Explanations</button>
        <button style="text-align: center; margin-top: 5%" class="button button-action button-rounded" data-toggle="modal" data-target="#trainModal">Train Model</button>
      </div>
<!--       <form method=post style="text-align: center; margin-top: 5%">
        <input class="button button-action button-rounded" type=submit name=finish value="Train Model"></input>
      </form> -->
      </div>

<div id="right">
  <p style="font-size:14pt; margin-top: 2%; padding:5pt 10pt 5pt 0pt; text-align:center;"> Label whether
    <b style="background-color:#ffd77c;padding:1pt 5pt 1pt 5pt;">X</b>and 
    <b style="background-color:#ffd77c;padding:1pt 5pt 1pt 5pt;">Y</b> were/are/will be married</p>
<p>{{candidate|safe}}</p>

{% from "_formhelpers.html" import render_field %}
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
<div id="loading"></div>
<div id="content">
	<form method=post style="text-align: center; width: 70%; margin: auto; padding-top: 4%">
	  <dl>
	  	{{ form.csrf_token }}
      {% if suggested_explanations is not none %}
      <p style="color: gray"> Hint, you can try: {{ suggested_explanations[0] }} </p>
      {% endif %}
	  	<div class="form-group {% if form.explanation.errors %} has-error {% endif %}">
	    	{{ form.explanation(cols="10", rows="2", placeholder="Write an explanation starting with 'Because'...", class="form-control") }}
         <p class="col-sm-12 help-block">
            {{ form.explanation.errors[0] }}
		</div>
	  </dl>
     <br/>
        <input class="button button-action button-square button-giant" type=submit name=pos onclick="loading();" value="&#xE876;"></input>
        <input class="button button-caution button-square button-giant" type=submit name=neg onclick="loading();" value="&#xE14C;"></input>
        <input class="button button-square button-giant" type=submit name=skip onclick="loading();" value="&#xE14B;"></input>
	</form>

  {% if stats is defined %}

  <div id="stats-tabs">
  <ul class="nav nav-tabs">
    {% for tup in stats %}
      <li class="{% if loop.index == 1 %}active{% endif %}"><a data-toggle="tab" href="#parse_{{loop.index}}">Parse {{loop.index}}</a></li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for tup in stats %}
    <div id="parse_{{loop.index}}" class="tab-pane fade in {% if loop.index == 1 %}in active{% endif %}">
    <br/>
    <div class="row">
      {% set accuracy = tup[2].accuracy.numer / tup[2].accuracy.denom * 100 %}
      <div class="col-sm-6"><h4>Accuracy</h4> <span style="font-size: 18px">{{'%0.2f' % accuracy|float}}% ({{tup[2].accuracy.numer}} / {{tup[2].accuracy.denom}})</span></div>
      {% set coverage = tup[2].class_coverage.numer / tup[2].class_coverage.denom * 100 %}
      <div class="cols-sm-6"><h4>Coverage</h4> <span style="font-size: 18px">{{'%0.2f' % coverage|float}}% ({{tup[2].class_coverage.numer}} / {{tup[2].class_coverage.denom}})</span></div>
    </div>
  </div>

    <h4 style="margin-top: 2%">Labeling Function</h4>
      <code style="text-align: center; font-size: 16px">{{tup[0]}}</code>

    <h4 style="margin-top: 2%">
      <a href="#correct" data-toggle="collapse"> View Correct and Incorrect</a>
    </h4>
    <div id="correct" class="collapse">
        <div class="row">
            <div class="col-sm-6">
              <ul class="list-group">
              {% for sample in tup[1].correct[:3] %}
              <li class="list-group-item list-group-item-success">{{ sample|safe }}</li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
            {% for sample in tup[1].incorrect[:3]%}
            <li class="list-group-item list-group-item-danger">{{ sample|safe }}</li>
            {% endfor %}
            </ul>
          </div>
      </div>
    </div>

      {% if filtered_analysis is not none %}
      <h4 style="margin-top: 2%"><a href="#filtered" data-toggle="collapse">Filtered Parses</a></h4>
      <div id="filtered" class="collapse">
        {{filtered_analysis|safe}}
      </div>
    {% endif %}
    {% endfor %}
</div>
  </div>
  <form method=post style="text-align: center; margin-top: 5%">
  <input class="button button-action button-rounded" type=submit name=commit value="Commit" style="margin-bottom:5%"></input>
</form>
  {% endif %}
<!--   </div> -->

  {% if no_parse_error is defined %}
  <p style="text-align: center; margin-top: 5%">Your explanation generated no valid parses -- check your explanation, revisit the <a data-toggle="modal" data-target="#myModal">instructions</a>, or skip this example.</p>
    {% if filtered_analysis is not none %}
    <div class="panel panel-default" style="width:50% padding:5pt 10pt 5pt 0pt">
      <div class="panel-body">
        <div id="filtered-tab">
          {{filtered_analysis|safe}}
        </div>
      </div>
    </div>
    {% endif %}
  {% endif %}
  </div>
</div>
  {% endblock %}